
:root{
    --orange:orange;
    --black:black;
    --lightcolor:#666;
    --box-shadow:0.5rem 0.1rem rgba(0,0,0,0.1);
    --border:.2rem solid rgba(0, 0, 0, 0.377);
    --outline: 0.1rem solid rgba(0,0,0,0.1);
    --outline-hover: 0.3rem solid var(--black);
}
*{
    margin:0;padding:0;
    outline:none;border: none; 
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
    list-style: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top:7rem;
}
body{
    background-color: #eee;
    height: auto;
}
section{
    padding: 3rem 9%;
}
/* header */
.btn{
    display: inline-block;
    margin-top:1rem;
    /* padding:10px 3rem; */
    border-radius: 0.5rem;
    border: 2px solid var(--black);
    color: #000;
    font-size: 1.7rem;
    line-height: 3.5rem;
    height: 4rem;
    vertical-align: middle;
    text-align: center;
    width:10rem;

}
.orange{
    color:var(--orange)
}
.btn:hover{
    background-color: var(--orange);
    color:#fff;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    border:var(--border);
    top:0;
    left:0;
    right:0;
    z-index:999;
    padding:2rem 9%;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    height: 70px;
}
.header .logo{
    font-size: 2.5rem;
    font-weight:bolder;
    color:var(--black);
    /* border: 2px solid red; */
    /* width: auto; */
}
.header .logo h4{
    display: inline-block;
}
.header .logo i{
    color:var(--orange);
    display: inline-block;
    margin-right: 20px;   
}
.navbar li{
    /* border: 2px solid red; */
    display: inline-block;

}
.navbar li a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color:var(--black);
}
.navbar li a:hover{
    color:var(--orange);
}
.header .icons div{
    height:4.5rem;
    width:4.5rem;
    background-color: #eee ;
    line-height: 4.5rem;
    font-size: 2rem;
    margin-right: 1rem;
    color: var(--black);
    text-align: center;
    border-radius: 0.3rem;
    cursor: pointer;
}
.header .icons div:hover{
    background-color: var(--orange);
    color:white;
}
.header .search-form{
    position:absolute;
    top:110%;
    right: -150%;
    width:50rem;
    height:5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    display: flex;
    align-items:center ;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    /* justify-content: space-between; */
}
.header .search-form.active{
    right:1rem;
    transition: all 0.5s ease-in-out;
}
.header .search-form input{
    height: 100%;
    width:100%;
    background:none;
    font-size: 1.5rem;
    color:var(--black);
    padding: 0 1.5rem;
}
.header .search-form label{
    font-size: 1.5rem;
    padding-right: 1.5rem;
    cursor: pointer;
}
.header .search-form label:hover{
    color: var(--orange);
}
.header .shoping-cart{
    position:absolute;
    top:110%;
    right:-110%;
    background-color: #fff;
    padding:1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    width:30rem;
    text-align: center;
    height: auto;
}
.header .shoping-cart .cart-box{
    display: flex;
    align-items:center ;
    gap:1rem;
    margin: 1rem 0;
    position: relative;
}
.header .shoping-cart .cart-box img{
    height:10rem;
}
.header .shoping-cart .cart-box .fa-trash{
    font-size: 2rem;
    color: var(--lightcolor);
    position: absolute;
    top:50%;
    right:2rem;
    cursor: pointer;
    transform: translateY(-50%);
}
.header .shoping-cart .cart-box .fa-trash:hover{
    color:var(--orange);
}
.header .shoping-cart .cart-box .cart-content h3{
    font-size: 1.7rem;
    padding-bottom: 1rem;
    color:var(--black);
}
.header .shoping-cart .cart-box .cart-content span{
    font-size: 1.5rem;
    color: var(--lightcolor);
}
.header .shoping-cart .cart-box .cart-content .quantity{
    padding-left: 1rem;
}
.header .shoping-cart .total{
    font-size: 2.5rem;
    padding:1rem 0;
}
.header .shoping-cart .btn{
    margin-top:1rem;
    padding:0.1rem 0.8rem;
    border-radius: 0.5rem;
    border: 2px solid var(--black);

}
.header .shoping-cart.active{
    right:1rem;
    transition: all 0.5s ease-in-out;
}
.header .account-tab{
    background-color:#fff;
    width:35rem;
    text-align: center;
    font-size: 1.7rem;
    padding:1rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    position: absolute;
    top:110%;
    right:-110%;

}
.header .account-tab h4{
    text-align: left;
}
.account-tab *{
    margin:0.5rem;
}
.account-tab a{
    color:var(--black)
}
.account-tab a:hover{
    color:var(--orange)
}
.header .account-tab input{
    height: 4rem;
    /* margin:1rem; */
    display: inline-block;
    width:100%;
    border-radius: 0.5rem;
    /* border: var(--border); */
    padding: 0 1.5rem;
    background-color: #eee;
}
.header .account-tab .btn{
    color:black;
    line-height: 3.5rem;
}
.header .account-tab.active{
    right:1rem;
    transition: 0.5s all ease-in-out;
}
.icons .fa-bars{
    display: none;
}
/* home-section */
.home{
    background-image: url('./image/banner-bg.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 20rem;
    padding-bottom: 10rem;
    
}
.home .content{
    margin: auto;
    width:60rem;
    text-align: center;
    display: flex;
    place-content: center;
    flex-direction: column;
}
.home .content h3{
    font-size: 3rem;
    margin: 1rem;
}
.home .content p{
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: var(--lightcolor);
}
.home .content a{
    margin: 1.5rem auto;
}
/* home-ends here */

/* feature section */
 .section-header{
    text-align: center;
    font-size: 2.7rem;
    margin:2rem auto;
    width:auto;
}
 .section-header span{
    color:#fff;
    clip-path: polygon(100% 0,93% 50%,100% 99%,0% 100%, 7% 50%,0% 0%);
    background-color: var(--orange);
    padding:0.5rem 3rem;
    display: inlne-block;
}
.item
{
    background-color: #fff;
    width:28rem;
    min-width: 28rem;
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    height:auto;
    gap:2rem;
    outline:var(--outline);
    outline-offset:-1rem;
    padding:2rem 2rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}
.item:hover{
    outline: none;
    border: var(--border);
}
.fearure-img{
    height:13rem;
    width:13rem;
}
.item h3{
    font-size: 2rem;
    margin-top: 2rem;
}

.item p{
    font-size: 1.2rem;
    line-height: 1.5rem;;
    color:var(--lightcolor)
}

.item a{
    height: 3.5rem;
    line-height: 3rem;
    font-size: 1.5rem;
    margin:1rem;
}
.container{
    display: flex;
    gap:2rem;
    place-items: center;
    justify-content: center;
    width:fit-content;
    margin:5rem auto;
    flex-wrap: wrap;

}
 */
 .product .slider{
    padding:1rem;
    width:90%;
    margin:5rem auto;
 }

 .product .slider .wrapper{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap:5rem;
    margin:2rem;
 }
 .product .slider .wrapper::-webkit-scrollbar {
    display: none;
  }

  .product .slider .wrapper .item img{
    width:18rem;
    height: 18rem;
  }
  .product .slider .wrapper .item .price{
    font-size: 1.5rem;
    color: var(--lightcolor);
  }
  .stars i{
    color:var(--orange);
    font-size: 1.5rem;
  }

/* review section */
.review .container .item img{
    border-radius: 50%;
}
.review .container .item  h3{
    margin:-0.5rem;
}
.review .container .item a{
    margin: -.5rem;
}
/* blog-section */
.container .blog-item .blog-img{
    height: 50%;
    width:100%
}
.container .blog-item .blog-img img{
    height:100%;
    width:100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
/* blog-separator */
.container .blog-item{
    background-color: #fff;
}
.blog-content{
    width:25rem;
}
.blog-content *{
    line-height: 2.5rem;
}
.container .blog-item .blog-content .blog-author{
    border-bottom: 1px solid var(--lightcolor);
}
.container .blog-item .blog-content .blog-author p{
    font-size: 1.2rem;
    cursor: pointer;
}
.container .blog-item .blog-content .blog-author p:hover{
    color:var(--orange);
}
.container .blog-item {
    min-width:28rem;
    width:28rem;
    border-radius: 0.5rem;
}
.container .blog-item .blog-author .right{
    float: right;
}
.container .blog-item .blog-content .blog-author *{
    display: inline-block;
    margin-right:0.5rem;
}

.container .blog-item .blog-content .blog-author i{
    color:var(--orange);
}

.container .blog-item .blog-content{
    padding: 1rem ;
    text-align: left;
    margin:0 auto;
}
.container .blog-item .blog-content{
    font-size: 1.5rem;
    line-height: 1.5rem;
}
.container .blog-item .blog-content p{
    font-size: 1.2rem;
    color:var(--lightcolor);
}
.container .blog-item .blog-content a{
    font-size: 1.5rem;
}
.container .blog-item .blog-content *{
    margin:1rem auto;
}

.container .blog-item .blog-content{
    margin-top: -1rem;
}
.blog-content .btn{
    line-height: 3.5rem;
}
.blog-item:hover{
    border: var(--border);
}
/* footer-section */
footer{
   min-height: 50vh;
   background-color: #fff;
   /* padding-top: 2rem; */
}
.footer .footer-item{
    background-color: #fff;
    text-align: left;
    width: 25rem;
    padding:1rem;
}
.footer .footer-item .logo i{
    color:var(--orange);
}
.footer .footer-item .logo *{
    display: inline-block;
    margin-right: 1rem;
    font-size: 2.5rem;
    margin: 2rem 0;
}
.footer .footer-item p{
    color: var(--lightcolor);
    font-size: 1.5rem;
    margin:1rem 0;
}
.footer .footer-item ul{
    width:fit-content ;
}
.footer .footer-item ul li{
    list-style: none;
    display: inline-block;
    margin-right: 0.5rem;
}
.footer .footer-item ul li a, .footer .contact-info ul li a{
    color: var(--lightcolor);
    font-size: 1.5rem;   
}
.footer i{
    color: black;
    margin-right: 1rem;
}
.footer .footer-item .logo i{
    margin-left:1.5rem;
}
.footer .contact-info ul li a i{
    margin-right: 1.5rem;
    color:orange;
    margin-top: 1.5rem;
}
.footer li{
    margin-top: 1.5rem;
}
/* social-links */
.social-link li a i{
    font-size: 3rem;
}
.social-link li a i:hover{
    color:var(--orange);
}
/* quicklinks */
.quicklinks-li {
    display: block;
    width:100%;
}
.quicklinks-li i{
    color:var(--orange);
}
.footer li:hover{
    transform: translateX(5%);
}
/* newsletters */
.newsletter-input{
    height: 3rem;
    width:100%;
    border-radius: 0.5rem;
    margin: 1rem 0;
    background-color: #eee;

}
.payment-img{
    margin: 2rem 0;
}

.footer-container{
    background-color: #fff;
    width:100%;
    align-items: flex-start;
    justify-content: space-evenly;
    /* height: 50vh; */
    padding: 2rem;
}
/* media section */
@media (max-width:992px) {

    html{
        font-size: 55%;
    }
    .header{
        padding: 0.5rem 3rem;
    }
}

@media (max-width:768px) {
    .navbar{
        position:absolute;
        top:110%;
        right:-110%;
        background-color: #fff;
        padding:1rem 1rem;
        border-radius: 0.5rem;
        box-shadow: var(--box-shadow);
        width:30rem;
        text-align: center;
        height: auto;
        
    }
    .header .search-form{
        width:90%;
    }
    
    .navbar li{
        display: block;
        margin:2rem;
        text-align: center;
    }
    .icons .fa-bars{
        display: inline-block;
    }
    .header .navbar.active{
        right:1rem;
        transition: 0.5s all liner;
    } 
    .home .content{
        width:40rem;
        flex-wrap: wrap;
    }
    .home .content h3{
        font-size: 2.5rem;
    }
    .home .content p{
        font-size: 1.2rem;
    }
    .home .content a{
        font-size: 1.2rem;
        padding:0.5rem;
        height:3rem;
        line-height: 1.5rem;
    }
    /* feature */
    .container{
        
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:450px)
{
    .header{
        min-width: 350px;
    }
    html{
        font-size: 50%;
        /* min-width: 350px; */
    }
    .home .content{
        width:250px;
        min-width: 250px;
    }
    .home .content h3{
        font-size: 2rem;
    }
    .home .content h3 p{
        font-size: 1rem;
    }

}